.header_section,
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu div {
  margin: 0 10px;
  text-align: center;
}
.menu a {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fcfcfc;
  border: 1px solid #3c4852;
  color: #3c4852;
  font-weight: 500;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 37px;
}
.menu div:nth-child(2) a {
  background-color: black;
  color: white;
}

.logo img {
  width: 15pc;
}
.menu div:nth-child(2) {
  border-radius: 50%;
  color: white;
  background-color: black;
}
